body {
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}

html {
    width: 100%;
    height: 100%;
}

/*--- Custom Nav-Bar CSS ---*/



.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    /*background: #FFF;*/
    color:#000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 20px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: inherit;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: inherit;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: grey;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-custom .navbar-toggle:hover .icon-bar {
    background-color: darkgrey;
}

.navbar-item {
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-donate {
    border-radius: 3px;
    background-color: #FF9F5B;
}

.pdf-btn {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.pdf-text{
    vertical-align: middle;
    display: unset;
}


@media(min-width: 1900px) {
    .navbar-custom .navbar-brand {
        font-weight: 700;
        font-size: 25px;
    }
    .pdf-btn {
        font-size:14px;
        font-weight:300;
    }
    
    .lead{
        font-size: 14px;
    }
    .navbar-item{
        font-size: 23px;
    }

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .navbar-item{
          font-size: 20px;
      }
      .navbar-custom .navbar-brand{
          font-size: 23px;
      }
      
      pdf-text{
          display: unset;
      }
}

@media(min-width: 1600px) {
    .navbar-item{
        font-size: 20px;
    }
    .navbar-custom .navbar-brand{
        font-size: 25px;
    }
    h5{
        font-size: 14px;
    }
}


@media(min-width: 768px)
{
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 1px;
        letter-spacing: 1px;
        background: 0 0;
        color:inherit;
        -webkit-transform: translateZ(0);
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
        color:#FFF;
    }

    .lead{
        font-size:12px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    h5{
        font-size: 11px;
    }
    .subtitle{
        font-size: 14px;
    }
    .pdf-text{
        display: none;
    }
    
    .col-sm-3{
        padding-right: 5px;
        padding-left: 5px;
    }    

    .col-sm-2{
        padding-right: 3px;
        padding-left: 3px;
    }

    .col-sm-4{
        padding-right: 5px;
        padding-left: 5px;
    }

    .col-sm-8{
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .well-sm{
        padding: 6px 6px 6px 6px;
    }

}

@media(max-width: 991px){
    .pdf-text{
        display: none;
    }
}

@media(min-width: 992px){
    .pdf-text{
        display: unset;
    }
}


/* Devices smaller than iPad mini*/

@media(max-width:767px) {
    .navbar-custom {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
        color:#FFF;
    }
    .navbar-item {
        font-size: 18px;   
    }
    .navbar-collapse {
        font-weight: 600;
        text-align: center;
    }
    .navbar-custom .nav li a:hover {
        outline: 0;
        color: black;
        background-color: white;
    }
    .pdf-btn {
        width: 50%;
        height: 25%;
        font-size:18px;
    }
    
    .pdf-text{
        display: unset;
    }
    
    .navbar-custom .navbar-brand{
        font-size: 18px;
    }  
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
    
    .navbar-custom .navbar-brand{
        font-size: 18px;
    }    
}


/*-------------------------*/



/*--- General CSS ---*/

.main-container {
    padding-top: 110px;
}

h1 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
}

h2 {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0 0 12px 0;
    letter-spacing: -1px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


.subtitle {
    font-size: 15px;
    padding:0px;
    margin: 0 0 2px 0;
    color: grey;
}

.lead {
    padding-top: 5px;
    text-align: left;
    font-family: 'Lora', serif;
    font-weight: 400;
    margin:0;
}

.hide
{
    display: none;
}

.alert-info {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.well {
    background-color: white;
    box-shadow: -1px 1px 3px #888888;
    border-radius: 1px;

}

.well-content {
    padding: 2px 2px 2px 2px;
    overflow: auto;
}

.well-title {
    padding:0;
    margin: 10px 0 10px 0;
}

.panel {
    box-shadow: -1px 1px 3px #888888;
}

.news-title {
    font-size: 35px;
}

.monthNav{
    padding-top: 100px;
}

#prayer-sidebar{
    border-radius: 3px;
    margin-left: 75px;
    margin-top: 1px;
    float: left;
}

#prayer-sidebar.stick{
    position: fixed;
    top: 0;
    z-index: 10;
    border-radius: 0 0 0.5em 0.5em;
}

.daily-time-sidebar-small{
    
}

td{
    font-size: 14px;
}

.daily-time-title{
    text-align: center;
}

.jummah-label{
    font-size: 13px;
}

.sun-label {
    margin-top: 5px;
    font-size: 13px;
}

.am-pm-label{
    font-size: 10px;
}

.col-sm-3{
    padding-right: 8px;
    padding-left: 8px;
}

.col-sm-2{
    padding-right: 3px;
    padding-left: 3px;
}

.col-sm-4{
    padding-right: 8px;
    padding-left: 8px;
}

.col-sm-8{
    padding-right: 8px;
    padding-left: 8px;
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    
    .main-container{
        padding-top: 90px;
    }
    
    .lead{
        font-size:14px;
    }
    
    h1{
        font-size: 25px;
    }
    
    h2{
        font-size: 23px;
    }
    
    .subtitle{
        font-size: 16px;
    }
    
    h5{
        font-size: 11px;
    }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

    .navbar-custom {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
        color:#fff;
    }
    
    .main-container{
        padding-top: 52px;
    }
    
    .lead{
        font-size:12px;
    }
    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 20px;
    }
    .subtitle{
        font-size: 14px;
    }
    h5{
        font-size: 9px;
    }
    .pdf-text{
        display: none;
    }
    
    .col-sm-3{
        padding-right: 5px;
        padding-left: 5px;
    }    

    .col-sm-2{
        padding-right: 3px;
        padding-left: 3px;
    }

    .col-sm-4{
        padding-right: 5px;
        padding-left: 5px;
    }

    .col-sm-8{
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .well-sm{
        padding: 6px 6px 6px 6px;
    }

}


@media(max-width:767px) {
    .main-container{
        padding-top: 51px;
    }
    h1{
        font-size: 25px;
    }
    .alert-info{
        font-size: 14px;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .pdf-text{
        display: unset;
    }
    
}

/*-------------------------*/


/*--- Footer CSS ---*/

#footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

.footer-color{
    background-color: black;
}

.footer-container {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color:white;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration:none;
    color: white;
}

.footer-link:focus {
    text-decoration: none;
    color: white;
}

.footer-header {
    white-space: pre;
}

/*-------------------------*/